@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  transition: all 1s ease-out;
  animation-name: sets_opacity;
  animation-duration: 1s;
}

@keyframes from_left_to_right {
  0% {
    left: -500px;
  }

  100% {
    left: 0px;
  }
}

@keyframes sets_opacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100;
  }
}

img#thug {
  -webkit-animation: cubic-bezier(0.22, 0.61, 0.36, 1);
  animation-name: from_left_to_right;
  animation-duration: 1.3s;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
